<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseRegistrationWaitingList"
        tools:targetApi="31">
        <activity
            android:name=".Delete_Student_Information"
            android:exported="false"
            android:parentActivityName=".Student_Registration_Waiting_List"/>
        <activity
            android:name=".Edit_Student_Information"
            android:exported="false"
            android:parentActivityName=".Student_Registration_Waiting_List"/>
        <activity
            android:name=".Assign_Student_Priority"
            android:exported="false"
            android:parentActivityName=".Student_Registration_Waiting_List"/>
        <activity
            android:name=".Add_Student_Information"
            android:exported="false"
            android:parentActivityName=".Student_Registration_Waiting_List"/>
        <activity
            android:name=".Student_Registration_Waiting_List"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>